.App {
  text-align: center;
}

.hanoi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.hanoi .line {
  background-color: black;
  height: 100px;
  width: 1px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.hanoi:hover .line {
  background-color: blue
}